.common-select-containner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.common-select-label {
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: whitesmoke;
  font-family: NotoSerifJP, serif;
}


.common-select-select{
  font-family: NotoSerifJP, serif;
  width: 100%;
  font-size: 1rem;
  padding: 2% 6%;
  height: 10vh;
  border-radius: 8px;
  border: 1px solid #ccc; 
  box-sizing: border-box;
  outline: none; 
  transition: border-color 0.3s ease, box-shadow 0.2s ease; 
  
}


.common-select-select:focus {
  border-color: #4A90E2;
}

.common-select-select option {
  color: rgb(145, 145, 145); 
}

.common-select-select option:hover {
  color: rgb(80, 79, 79)

}


@media (max-width: 768px) {
  .common-select-label {
    font-size: 2.5vw; 
  }

  .common-select-select {
    padding: 2% 6%;
    height: 8vh;
    font-size: 0.9rem;
  }
  .common-select-select option{
    font-size: 3vw;
  }

}

@media (max-width: 480px) {
  .common-select-label {
    font-size: 4vw; 
  }

  .common-select-select {
    padding: 2% 6%;
    height: 5vh;
    font-size: 0.7rem;
  }
  .common-select-select option{
    font-size: 3vw;
  }
}